.main {
  height: 500px;
  background-image: url("../images/office.jpg");
  top: 0;
  position: absolute;
  margin-top: 0px;
  background-repeat: no-repeat;
  
}

#companyname {
  color: #ffffff;
  position: relative;
  height: 10px;
  top: 150px;
  text-align: center;
  font-family: initial;
  font-size: x-large;
}

#description {
  color:#212529;
  position:relative;
  height: 10px;
  font-family: initial;
  font-size: 20px;
  top: 40px;
  text-align: left;
  left: 75px;
}


.content {
  color: #000000;
  position: relative;
  height: 260px;
  top: 550px;
  left: 4%;
  background-repeat: no-repeat;
  width: 25%;
  border-radius: 18px;
}



.heading {
  text-align:center;
  position: relative;
  top: 35px;
  font-family: initial;
  font-size: xx-large;
  color:#050b56
}

.aboutushead {
  text-align: center;
  position: relative;
  top: 510px;
  font-family: initial;
  font-size: xx-large;
  color:#00aef1;
}

.aboutus {
  text-align: center;
  position: relative;
  top: 505px;
  font-family: initial;
  font-size: larger;
}


.card{
  z-index: 1;
  top: 500px;
  position: relative;
}







